.navbar{
    background-color:#007900 !important;
    color: white !important;
}

.navbar-brand{
    color: white !important;
}

.main-link-user{
    color: white !important;
    padding: 0px !important;
}